<!DOCTYPE html>
<html lang="pl-PL">
<head>
	 <title>
       Szczegóły zamówienia   </title>
	<meta charset="UTF-8">
<% include ../../partials/head %>

</head>
<body>
<% include ../../partials/header %>

<tlo>
    <!-- Główna-->
	<div class="container">
	
	<tbody>
        <div class="card mt-4">
		<div class="card-header text-center">
                         <h3 class="card-title" align="center"> <%= eventtab[0].topic %></h3>
                        </div>
            <div class="card-body">
            <div class="row">
			<div class="col-8">
            <h5><i class="fas fa-user-graduate"></i>  <%= eventtab[0].Name %></h5>
            <h5><b><i class="fas fa-map-marker-alt"></i> <%= eventtab[0].city %></b>, Hotel <%= eventtab[0].hotel %> </h5> 
            <h5> <b><i class="fas fa-table"></i> <%= eventtab[0].date %> r.</b> (godz. 9:00-15:00)</h5>
			<h5> <i class="fas fa-coins"> <%= eventtab[0].price %> zł/os. netto</i></h5>
			</div>
			<div class="col-4 align-self-center">
            <a href="/info:<%= eventtab[0].id_event %>" class="btn btn-success">Zobacz więcej informacji o szkoleniu</a>
			</div>
			</div>
            </div>
        </div>
        <!-- /.card -->


            <!-- uczestnicy -->
                <div class="card card-outline-secondary my-4">
                        <div class="card-header text-center">
                         Uczestnicy:
                        </div>
                            <div class="card-body">
                                <div id="table" class="table-editable">
                                        <span class="table-add float-right mb-3 mr-2"><a href="/buy:<%= eventtab[0].id_event %>" class="text-success">
                                        <i class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
                                        <table class="table table-bordered table-responsive-md table-striped text-center">
                                          <thead>
                                            <tr>
                                              <th class="text-center">Imię</th>
                                              <th class="text-center">Nazwisko</th>
                                              <th class="text-center">Stanowisko</th>
                                              <th class="text-center">Rezygnacja</th>
                                            </tr>
                                          </thead>
                                                                                
											<% for(let i = 0; i < detailstab.length; i++) { %>
                                            
                                            <tr>
                                            <td>
                                            <%= detailstab[i].imie %>
                                            </td>
                                             <td>
                                            <%= detailstab[i].nazwisko %>
                                            </td>
                                              <td>
                                            <%= detailstab[i].stanowisko %>
                                            </td>
                                            <td>
                                                
												<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
													Zrezygnuj
												</button>
												<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
												 <div class="modal-dialog modal-dialog-centered" role="document">
												  <div class="modal-content">
												   <div class="modal-header">
													   <h5 class="modal-title" id="exampleModalLongTitle">Rezygnacja</h5>
													  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
														 <span aria-hidden="true">&times;</span>
													 </button>
													 </div>
												  <div class="modal-body">
													  Sure? 
												  </div>
												   <div class="modal-footer">
												   <a href="/deleteapp:<%= detailstab[i].id_application %>" class="btn btn-danger">Zrezygnuj</a>
														 </div>
													</div>
												 </div>
												</div>
                                            </td>
                                            </tr>
                                           <% } %>
                                         
                                        </table>
                                      </div>
                                      
									</div>
									
                      </div>
                  <div class="card card-outline-secondary my-4">
                        <div class="card-header text-center">
                         Dokumenty:
                        </div>
                            <div class="card-body">
								<div class="form-group row  ">
    <label for="program" class="col-sm-3 col-form-label text-center">Program szkolenia:</label>
    <div class="col-sm-9">
      <a href="/info/download:<%= eventtab[0].id_event %>" class="btn btn-primary">Pobierz program szkolenia</a>
    </div>
  </div>
  	<div class="form-group row text-center">
    <label for="zgloszenie" class="col-sm-3 col-form-label">Załącz zgłoszenie:</label>
    <div class="col-sm-9">
      <input type="file" class="form-control-file" id="zgloszenie" name="zgloszenie" >
    </div>
  </div>
							
							</div>
							</div>
		
		<!-- /.card -->

		
      </div>
</tbody>	  
  </tlo>     
<% include ../../partials/error %>
</main>
<% include ../../partials/footer %>

</body>
</html> 