<!DOCTYPE html>
<html lang="pl-PL">
<head>
	 <title>
       Szczegóły zamówienia   </title>
	<meta charset="UTF-8">
<% include ../../partials/head %>

</head>
<body>
<% include ../../partials/header %>

<tlo>
    <!-- Główna-->
	<div class="container">
	<tbody>
	<% if(done == true){ %>
	<div class="alert alert-success" role="alert">Zostałeś zapisany na szkolenie. Poniżej znajdują się szczegóły. W każdej chwili możesz wrócić tutaj i dodać potwierdzenie szkolenia </div>
	<% } %>

	

        <div class="card mt-4">
	        <div class="card-body">
			<h3 id="title" align="center" style="font-size:25px;"> <%= eventtab[0].topic %></h3>
            <div class="row">
			<div class="col-8">
            <h6><i class="fas fa-user-graduate"></i>  <%= eventtab[0].Name %></h6>
            <h6><b><i class="fas fa-map-marker-alt"></i> <%= eventtab[0].city %></b>, Hotel <%= eventtab[0].hotel %> </h6> 
            <h6> <b><i class="fas fa-table"></i> <%= eventtab[0].date %> r.</b> (godz. 9:00-15:00)</h6>
			<h6> <i class="fas fa-coins"> <%= eventtab[0].price %> zł/os. netto</i></h6>
			</div>
			<div class="col-4 align-self-center">
            <a href="/info:<%= eventtab[0].id_event %>"><input type="button" id="but"  style=" width: 300px;" value="Informacje o szkoleniu"/> </a>
			</div>
			</div>
        
               <hr> <h3 id="title" align="center"> Uczestnicy</h3>
                                <div id="table" class="table-editable">
                                        <span class="table-add float-right mb-3 mr-2"><a href="/buy:<%= eventtab[0].id_event %>" class="text-success">
                                        <i class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
                                        <table class="table table-bordered table-responsive-md table-striped text-center">
                                          <thead>
                                            <tr>
                                              <th class="text-center">Imię</th>
                                              <th class="text-center">Nazwisko</th>
                                              <th class="text-center">Stanowisko</th>
                                              <th class="text-center">Rezygnacja</th>
                                            </tr>
                                          </thead>
                                                                                
											<% for(let i = 0; i < detailstab.length; i++) { %>
                                            
                                            <tr>
                                            <td>
                                            <%= detailstab[i].imie %>
                                            </td>
                                             <td>
                                            <%= detailstab[i].nazwisko %>
                                            </td>
                                              <td>
                                            <%= detailstab[i].stanowisko %>
                                            </td>
                                            <td>
                                                
												<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rezygnacja-<%= detailstab[i].id_application %>">
													Zrezygnuj
												</button>
												<div class="modal fade" id="rezygnacja-<%= detailstab[i].id_application %>" tabindex="-1" role="dialog" aria-labelledby="rezygnacjaTitle" aria-hidden="true">
												 <div class="modal-dialog modal-dialog-centered" role="document">
												  <div class="modal-content">
												   <div class="modal-header">
													   <h5 class="modal-title" id="rezygnacjaTitle">Rezygnacja</h5>
													  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
														 <span aria-hidden="true">&times;</span>
													 </button>
													 </div>
												  <div class="modal-body">
													  Jesteś pewny/a , że chcesz zrezygnować z tego szkolenia? 
												  </div>
												   <div class="modal-footer">
												   <a href="/deleteapp:<%= detailstab[i].id_application %>" class="btn btn-danger">Zrezygnuj</a>
														 </div>
													</div>
												 </div>
												</div>
                                            </td>
                                            </tr>
                                           <% } %>
                                         
                                        </table>
                                      </div>
                                      <br>


 <hr><h3 id="title" align="center"> Dokumenty</h3><br>
	<div class="form-group row">
		<label for="program" class="col-sm-3 col-form-label text-center">Program szkolenia:</label>
		<div class="col-sm-9">
		    <a href="/showprogram:<%= eventtab[0].id_event %>" ><input type="button" id="but" style="  border-radius: 25px 0px 0px  25px; width: 200px;" value="Otwórz"/> </a>
			<a href="/info/download:<%= eventtab[0].id_event %>"><input type="button" id="but"  style="  border-radius: 0px 25px  25px 0px; width: 200px;" value="Pobierz"/></a>
		</div>
    </div>
  <hr>

  <div class="form-group row ">
    <label for="program" class="col-sm-3 col-form-label text-center ">Generuj zgłoszenie na szkolenie:</label>
    <div class="col-sm-5 align-self-center">
      <a href="/zgloszenie:<%= detailstab[0].id_application %>" onclick="myFunction()"> <input type="button" id="but" class="next action-button" style=" width: 200px;" value="Generuj"/></a>
    </div>
  </div>
  <hr />
  	<div class="form-group row text-center">
    <label for="zgloszenie" class="col-sm-3 col-form-label align-self-center">Załącz zgłoszenie:
	<% if(detailstab[0].zgloszenie != null ){ %>
	<span class="badge badge-success">Dodane</span>
	<% } %>
	</label>
    <div class="col-sm-5 ">
	 <button type="button" id="but" style="border-radius: 25px 0px 0px  25px; width: 200px;" data-toggle="modal" data-target="#zgloszenie-<%= detailstab[0].id_application %>" >
													Dodaj
												</button>


	<% if(detailstab[0].zgloszenie != null ){ %>
	<a href="/showzgloszenie:<%= detailstab[0].id_application %>"><input type="button" id="but" class="next action-button" style="  border-radius: 0px 25px  25px 0px; width: 200px;" value="Podgląd"/></a>
	<% } %>
	
	</div>
  </div>

	<div class="modal fade" id="zgloszenie-<%= detailstab[0].id_application %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
												 <div class="modal-dialog modal-dialog-centered" role="document">
												  <div class="modal-content">
												   <div class="modal-header">
													   <h5 class="modal-title" id="exampleModalLongTitle">Załącz zgłoszenie</h5>
													  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
														 <span aria-hidden="true">&times;</span>
													 </button>
													</div>
												  <div class="modal-body">
													 <form method="POST" action="/addzgloszenie:<%= detailstab[0].id_application %>" enctype="multipart/form-data" >
													<input type="file" class="form-control-file" id="zgloszenie" name="zgloszenie" ></input><br>
													<button type="submit" id="but">
													 Załącz skan zgłoszenia
													</button>
													</form>
												  </div>
												
													</div>
												 </div>
												</div>
    </div>
  </div>
	
  </div>
							
							</div>
							</div>
		
		<!-- /.card -->

		
      </div>
</tbody>	


  </tlo>     
<% include ../../partials/error %>
</main>
<% include ../../partials/footer %>
<script>
function myFunction() {

  document.getElementById("load").innerHTML =  "<i class='fa fa-circle-o-notch fa-spin' style='color:white;'></i> Pobieranie...";
  setTimeout(function(){ 
   document.getElementById("load").innerHTML =  "Generuj";
  }, 6000);
}
</script>

</body>

</html> 