<!DOCTYPE html>
<html lang="pl-PL">
<head>
	 <title>
        Informacje o szkoleniu   </title>
	<meta charset="UTF-8">
<% include ../../partials/head %>

</head>
<body>
<% include ../../partials/header %>

	<div class="container">
	<div class="col-lg-9">
	<tbody>
        <div class="card mt-4">
            <div class="card-body">
            <h3 class="card-title" align="center"><%= tabresult[0].topic %></h3>
            <h4><b><%= tabresult[0].city %></b>,<%= tabresult[0].hotel %> </h4> 
            <h5> <b><%= tabresult[0].date %> r.</b> (godz. 9:00-15:00)</h5>
            </div>
        </div>
        <!-- /.card -->
		<info>
        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Cel szkolenia:
          </div>
          <div class="card-body">
            <p><%= tabresult[0].descriptions %></p>
          </div>
        </div>

		<div class="card card-outline-secondary my-4">
          <div class="card-header">
            Prowadzący: <%= tabresult[0].Name %>
          </div>
          <div class="card-body">
            <p><%= tabresult[0].description %><p>
          </div>
        </div>

		<div class="card card-outline-secondary my-4">
          <div class="card-header">
            Zapewniamy:
          </div>
          <div class="card-body">
            <p>Autorskie materiały szkoleniowe, Certyfikat ukończenia szkolenia, lunch, przerwy kawowe.</p>
          </div>
        </div>

		<div class="card card-outline-secondary my-4">
          <div class="card-header">
            Cena:
          </div>
          <div class="card-body">
            <p><b><%= tabresult[0].price %> zł netto</b> + 23 % VAT (w przypadku, gdy szkolenie opłacone jest min. w 70% ze środków publicznych przysługuje Państwu zwolnienie z VAT, na podstawie oświadczenia)</p>
          </div>
        </div>
		<a href="/buy:<%= tabresult[0].id_event %>" class="btn btn-success">Zapisz się</a>
		<!-- /.card -->
</tbody>
      </div>
	  </info>
        
<% include ../../partials/error %>
</main>
<% include ../../partials/footer %>

</body>
</html> 