<!DOCTYPE html>
<html lang="pl-PL">
<head>
	 <title>
        Informacje o szkoleniu   </title>
	<meta charset="UTF-8">
<% include ../../partials/head %>

</head>
<body>
<% include ../../partials/header %>

	<div class="container">
	<tbody>
	<h4></h4>
        <div class="card ">
            <div class="card-header">
            <h3 class="card-title" align="center" style=" text-transform: uppercase;"><%= tabresult[0].topic %></h3>
			</div>
            <div class="card-body">
			<h4><b><i class="fas fa-map-marker-alt"></i> <%= tabresult[0].city %></b>,<%= tabresult[0].hotel %> </h4> 
            <h5> <b><i class="fas fa-table"></i> <%= tabresult[0].date %> r.</b> (godz. 9:00-15:00)</h5>
            </div>
        </div>
        <!-- /.card -->
		<info>
        <div class="card card-outline-secondary my-4">
          
          <div class="card-body">
		  <l><b> Cel szkolenia: </b></l>
		  <hr>
            <p><%= tabresult[0].descriptions %></p>
          </div>
        </div>

		<div class="card card-outline-secondary my-4">
       
          <div class="card-body">
		   <l><b>Prowadzący:</b></l>
		   <hr>
		  <h5 class= "card-title" ><%= tabresult[0].Name %></h5>
		
            <p><%= tabresult[0].description %><p>
          </div>
        </div>

		<div class="card card-outline-secondary my-4">
          <div class="card-header">
            Zapewniamy:
          </div>
          <div class="card-body">
            <p>Autorskie materiały szkoleniowe, Certyfikat ukończenia szkolenia, lunch, przerwy kawowe.</p>
          </div>
        </div>

		<div class="card card-outline-secondary my-4">
          <div class="card-header">
            Cena:
          </div>
          <div class="card-body">
            <p><b><%= tabresult[0].price %> zł netto</b> + 23 % VAT (w przypadku, gdy szkolenie opłacone jest min. w 70% ze środków publicznych przysługuje Państwu zwolnienie z VAT, na podstawie oświadczenia)</p>
          </div>
        </div> 
		 <div class="card card-outline-secondary my-4">
                        <div class="card-header text-center">
                         Program szkolenia: 
                        </div>
                            <div class="card-body text-center" >
							 <div class="form-group row  ">
    
    <div class="col-sm-6">
      <a href="/showprogram:<%= tabresult[0].id_event %>" class="btn btn-primary">Otwórz</a>
    </div>
	<div class="col-sm-6">
      <a href="/info/download:<%= tabresult[0].id_event %>" class="btn btn-primary">Pobierz </a>
    </div>
  </div>
  <br />
							</div>
							</div>
		<div class="col-md-12 text-center"> 
		<a href="/buy:<%= tabresult[0].id_event %>" class="btn btn-success ">Zapisz się</a>
		</div>
		<!-- /.card -->
</tbody>
      </div>
	  </info>
        
<% include ../../partials/error %>
</main>
<% include ../../partials/footer %>

</body>
</html> 