<!DOCTYPE html>
<html lang="pl-PL">
<head>
	 <title>
        Aktualne szkolenia    </title>
	<meta charset="UTF-8">
<% include ../../partials/head %>

</head>

<body>

<% include ../../partials/header %>
<main>

  <div class="container">
  <img class="index-header" src="/assets/images/index-header.jpg" alt="header-image" />
  <t class="text-center">AKTUALNE SZKOLENIA</t>
	<tbody>
		<% for(var i = 0; i < tabresult.length; i++) { %>
		<h4> </h4>
		<div class="card">
			<div class="card-body">
				<div class="row justify-content-between">
					<div class="col-6">
						<h5 class="card-title"> <%= tabresult[i].topic %> </h5>
						<p class="card-text"><i class="fas fa-user-graduate"></i>  <%= tabresult[i].Name %> </p>
						<p class="card-text"><i class="fas fa-map-marker-alt"></i>  <%= tabresult[i].city %></p>
						<p class="card-text"><i class="fas fa-table"></i> <%= tabresult[i].date %></p>
						<p class="card-text"><i class="fas fa-coins"></i> <%= tabresult[i].price %> zł </p>
					</div>
					<div class="row align-items-center">
					<div class="col-auto ">					
						<ul><a href="/info:<%= tabresult[i].id_event %>" class="btn btn-primary " >Więcej informacji</a></ul>
						<ul><a href="/buy:<%= tabresult[i].id_event %>" class="btn btn-primary " >Zapisz się</a></ul>
					</div>
					</div>
				</div>
			</div>		
		</div>  
        <% }; %>       
   </tbody>
 </div>
 </main>
	 <% include ../../partials/footer %>		
</body>
</html>  