<!DOCTYPE html>
<html lang="pl-PL">
<head>
	 <title>
        Aktualne szkolenia    </title>
	<meta charset="UTF-8">
<% include ../../partials/head %>

</head>

<body>
<% include ../../partials/header %>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-4">
						<h2>Lista Twoich szkoleń</h2>
					</div>
                </div>
            </div>
			<table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Temat</th>												
                        <th>Prowadzący</th>	
						<th>Miasto</th>
						<th>Data</th>					
						<th>Cena netto</th>
                    </tr>
                </thead>
                <tbody>
				<% for(var i = 0; i < mytabresult.length; i++) { %>
				<tr>
					<td><a href="/info:<%= mytabresult[i][5] %>"> <%= mytabresult[i][0] %></a></td>
					<td><%= mytabresult[i][1] %></td>
					<td><%= mytabresult[i][2] %></td>                        
					<td><%= mytabresult[i][3] %></td>
					<td><%= mytabresult[i][4] %></td>
                </tr>
				<% }; %>
                </tbody>
            </table>
    </div>     
</body>
</html>  