<!DOCTYPE html>
<html lang="pl-PL">
<head>
	 <title>
        Moje szkolenia    </title>
	<meta charset="UTF-8">
<% include ../../partials/head %>

</head>

<body>
<% include ../../partials/header %>


<div class="container">
  <img class="index-header-my" src="/assets/images/index-header-my.jpg" alt="header-image" />
  <t class="text-center">MOJE SZKOLENIA</t>
  <h4> </h4>
		
<ul id="list-nav" class="nav nav-tabs" role="tablist">
	
<li class="nav-item">
<a class="nav-link active" href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Nadchodzące</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#last" role="tab" id="last-tab" data-toggle="tab" aria-controls="last" >Archiwalne</a>
</li>

</ul>

<!-- Content Panel -->
<div id="list-nav-content" class="tab-content">

<div role="tabpanel" class="tab-pane fade show active" id="home" aria-labelledby="home-tab">

<tbody>
		<% if(mytabresult.length == 0){ %>
		<h4><br> Brak nadchodzących szkoleń. </h4>
		<%}%>
		<% for(let i = 0; i < mytabresult.length; i++) { %>
		<h4> </h4>
		<div class="card">
			<div class="card-body">
				<div class="row justify-content-between">
					<div class="col-6">
						<h5 class="card-title"> <%= mytabresult[i].topic %> </h5>
						<p class="card-text"><i class="fas fa-user-graduate"></i>  <%= mytabresult[i].Name %> </p>
						<p class="card-text"><i class="fas fa-map-marker-alt"></i>  <%= mytabresult[i].city %></p>
						<p class="card-text"><i class="fas fa-table"></i> <%= mytabresult[i].date %></p>
						<p class="card-text"><i class="fas fa-coins"></i> <%= mytabresult[i].price %> zł </p>
					</div>
					<div class="row align-items-center">
					<div class="col-auto ">					
						<ul><a href="/details:<%= mytabresult[i].id_event %>" class="btn btn-primary " >Szczegóły</a></ul>
					</div>
					</div>
				</div>
			</div>		
		</div>  
        <% }; %>       
   </tbody>
 </div>


<div role="tabpanel" class="tab-pane fade" id="last" aria-labelledby="last-tab">
<tbody>
		<% if(lastmytabresult.length == 0){ %>
		<h4><br>Brak przebytych szkoleń. </h4>
		<%}%>
		<% for(var i = 0; i < lastmytabresult.length; i++) { %>
		<h4> </h4>
		<div class="card">
			<div class="card-body">
				<div class="row justify-content-between">
					<div class="col-6">
						<h5 class="card-title"> <%= lastmytabresult[i].topic %> </h5>
						<p class="card-text"><i class="fas fa-user-graduate"></i>  <%= lastmytabresult[i].Name %> </p>
						<p class="card-text"><i class="fas fa-map-marker-alt"></i>  <%= lastmytabresult[i].city %></p>
						<p class="card-text"><i class="fas fa-table"></i> <%= lastmytabresult[i].date %></p>
						<p class="card-text"><i class="fas fa-coins"></i> <%= lastmytabresult[i].price %> zł </p>
					</div>
					<div class="row align-items-center">
					<div class="col-auto ">					
						<ul><a href="/info:<%= lastmytabresult[i].id_event %>" class="btn btn-primary " >Szczegóły</a></ul>
					</div>
					</div>
				</div>
			</div>		
		</div>  
        <% }; %>       
   </tbody>
</div>




</div>


</div>
		

<script>
// Initialize tooltip component
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

// Initialize popover component
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>



	 <% include ../../partials/footer %>

</body>
</html>  