<!DOCTYPE html>

<html lang="pl" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <% include ../../../partials/head %>
    <title> Moje dane </title>

</head>

<body>
    <% include ../../../partials/header-manager %>

    <main>
	
<div class= "container">
 <img class="index-header-my" src="/assets/images/index-header-my.jpg" alt="header-image" />
  <t class="text-center">SZCZEGÓŁY ZGŁOSZENIA</t>
  <h4> </h4>


  <tbody>
        <div class="card mt-4">
		<div class="card-header text-center">
                         <h3 class="card-title" align="center"> <%= eventtab[0].topic %></h3>
                        </div>
            <div class="card-body">
            
            <h5><i class="fas fa-user-graduate"></i>  <%= eventtab[0].Name %></h5>
            <h5><b><i class="fas fa-map-marker-alt"></i> <%= eventtab[0].city %></b>, Hotel <%= eventtab[0].hotel %> </h5> 
            <h5> <b><i class="fas fa-table"></i> <%= eventtab[0].date %> r.</b> (godz. 9:00-15:00)</h5>
			<h5> <i class="fas fa-coins"></i> <%= eventtab[0].price %> zł/os. netto </h5>
			<h6> <i class="far fa-calendar-plus"></i> <%= detailstab[0].date %> 
			<% if(zgl.lenght<1){ %>
			<i class="fas fa-user"></i><a href="/showcompany:<%= company[0].id_company %>" >  <%= company[0].name %> - <%= company[0].name2 %> </a></h6>
			<% }else{ %>
			<i class="fas fa-user"></i><a href="/showuser:<%= zgl[0].id_User %>" > <%= zgl[0].imie %> <%= zgl[0].nazwisko %></a><a href="/showcompany:<%= zgl[0].id_company %>" > ( <%= zgl[0].name %> - <%= zgl[0].name2 %> )</a></h6>
			<% } %>
            </div>
        </div>
        <!-- /.card -->


            <!-- uczestnicy -->
                <div class="card card-outline-secondary my-4">
                        <div class="card-header text-center">
                         Uczestnicy:
                        </div>
                            <div class="card-body">
                                <div id="table" class="table-editable">
                                        <span class="table-add float-right mb-3 mr-2"><a href="/buy:<%= eventtab[0].id_event %>" class="text-success">
                                        <i class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
                                        <table class="table table-bordered table-responsive-md table-striped text-center">
                                          <thead>
                                            <tr>
											  <th class="text-center"> Lp. </th> 
                                              <th class="text-center">Imię</th>
                                              <th class="text-center">Nazwisko</th>
                                              <th class="text-center">Stanowisko</th>
                                              <th class="text-center">Usuń</th>
                                            </tr>
                                          </thead>
                                                                             
											<% for(let i = 0; i < detailstab.length; i++) { %>
                                            
                                            <tr>
											<td> 
											<a href="/showapplication:<%= detailstab[i].id_application %>" ><%= i+1 %>.</a>
											</td>
                                            <td>
                                            <a href="/showuser:<%= detailstab[i].id_User %>" ><%= detailstab[i].imie %></a>
                                            </td>
                                             <td>
                                             <a href="/showuser:<%= detailstab[i].id_User %>" ><%= detailstab[i].nazwisko %></a>
                                            </td>
                                              <td>
                                             <a href="/showuser:<%= detailstab[i].id_User %>" ><%= detailstab[i].stanowisko %></a>
                                            </td>
											
																				
                                            <td>
                                                
												<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rezygnacja-<%= detailstab[i].id_application %>">
													Usuń
												</button>
												<div class="modal fade" id="rezygnacja-<%= detailstab[i].id_application %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
												 <div class="modal-dialog modal-dialog-centered" role="document">
												  <div class="modal-content">
												   <div class="modal-header">
													   <h5 class="modal-title" id="exampleModalLongTitle">Rezygnacja</h5>
													  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
														 <span aria-hidden="true">&times;</span>
													 </button>
													 </div>
												  <div class="modal-body">
													  Sure? 
												  </div>
												   <div class="modal-footer">
												   <a href="/deleteapp:<%= detailstab[i].id_application %>" class="btn btn-danger">Usuń</a>
														 </div>
													</div>
												 </div>
												</div>
                                            </td>
                                            </tr>
                                           <% } %>

                                         
                                        </table>
										
                                      </div>
                                      
									</div>
						
						    </div>
                  <div class="card card-outline-secondary my-4">
                        <div class="card-header text-center">
                         Dokumenty:
                        </div>

                            <div class="card-body">
								
  

  <div class="form-group row  ">
    <label for="program" class="col-sm-3 col-form-label text-center ">Generuj zgłoszenie na szkolenie:</label>
    <div class="col-sm-9 align-self-center">
      <a href="/zgloszenie:<%= detailstab[0].id_application %>?company=<%= company[0].id_company %>" class="btn btn-primary ">Generuj</a>
    </div>
  </div>
  <hr />
  	<div class="form-group row text-center">
    <label for="zgloszenie" class="col-sm-3 col-form-label align-self-center">Załącz zgłoszenie:
	<% if(detailstab[0].zgloszenie != null ){ %>
	<span class="badge badge-success">Dodane</span>
	<% } %>
	</label>
    <div class="col-sm-4 ">
	 <form method="POST" action="/addzgloszenie:<%= detailstab[0].id_application %>" enctype="multipart/form-data" >
      <input type="file" class="form-control-file" id="zgloszenie" name="zgloszenie" ></input><br>
	 <button type="submit" class="btn btn-info pull-left ">
                        Załącz skan zgłoszenia
                    </button>
	  </form>
    </div>
	<div class="col-sm-3 align-self-center">
	<% if(detailstab[0].zgloszenie != null ){ %>
	<a href="/showzgloszenie:<%= detailstab[0].id_application %>" class="btn btn-info ">Podgląd zgłoszenia</a>
	<% } %>
	
	</div>
  </div>
  <hr>
  <div class="form-group row  ">
    <label for="program" class="col-sm-3 col-form-label text-center ">Rabat</label>
    <div class="col-sm-9 align-self-center">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rabat-<%= detailstab[0].id_application %>">
													<%= detailstab[0].rabat %> zł/os
												</button>
												<div class="modal fade" id="rabat-<%= detailstab[0].id_application %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
												 <div class="modal-dialog modal-dialog-centered" role="document">
												  <div class="modal-content">
												   <div class="modal-header">
													   <h5 class="modal-title" id="exampleModalLongTitle">Nadaj rabat</h5>
													  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
														 <span aria-hidden="true">&times;</span>
													 </button>
													 </div>
												  <div class="modal-body">
													  <form method="POST" action="/addrabat:<%= detailstab[0].id_application %> ">
															<div class="form-group row">
																<input type="hidden"  class="form-control" name= "application" value="<%= detailstab[0].id_application %>" > 
																<label for="topic" class="col-sm-8 col-form-label">Wprowadź wartość rabatu:</label>
																<div class="col-sm-2 align-self-center">
																	<input type="text" class="form-control" id="rabat" name="rabat" value="<%= detailstab[0].rabat %>" >
																</div>
															</div>
															 <button type="submit" class="btn btn-info ">Nadaj rabat </button>
													 
													 </form>
												  </div>
												
													</div>
												 </div>
												</div>
    </div>
  </div>

                      </div>
                  
		
		<!-- /.card -->

		
      </div>
</tbody>	  
</main>
<% include ../../../partials/footer %>
</body>
</html>