<!DOCTYPE html>
<html lang="pl-PL">
<head>
	 <title>
        Aktualne szkolenia    </title>
	<meta charset="UTF-8">
<% include ../../../partials/head %>

</head>

<body>

<% include ../../../partials/header-manager %>
  <div class="container">
  <img class="index-header-my" src="/assets/images/index-header-my.jpg" alt="header-image" />
  <t class="text-center">
  <% if(last == true){ %>
	ARCHIWALNE SZKOLENIA
  <% } else {  %>
  AKTUALNE SZKOLENIA
  <% } %>
  
  </t>
	<tbody>
		<% if(tabresult.length == 0){ %>
		<h4><br> Brak nadchodzących szkoleń. </h4>
		<%}else{
	     for(var i = 0; i < tabresult.length; i++) { %>
		<h4> </h4>
		<div class="card">
			<a href="/eventdetails:<%= tabresult[i].id_event %>" class="card-body">
				<div class="row ">
					<div class="col-7 align-self-center">
						<h5 class="card-title"> <%= tabresult[i].topic %> </h5>
						
					</div>

					<div class="col-3">					
							<p class="card-text"><i class="fas fa-user-graduate"></i>  <%= tabresult[i].Name %> </p>
							<p class="card-text"><i class="fas fa-map-marker-alt"></i>  <%= tabresult[i].city %></p>
							<p class="card-text"><i class="fas fa-table"></i> <%= tabresult[i].date %></p>
							<p class="card-text"><i class="fas fa-coins"></i> <%= tabresult[i].price %> zł </p>
					</div>
					<div class="col-2 align-self-center">					
							
							<p class="card-text"><%= tabresult[i].name %> <%= tabresult[i].last_name %></p>
							<p class="card-text"> ilosc osob: <%= tabresult[i].NoC %></p>
							<% if(tabresult[i].state==2){ %>
							<span class="badge badge-danger">ODWOŁANE</span> 
							<% } %>
							
					</div>
				</div>	
			</a>  
		</div>
        <% };} %>       
   </tbody>
 </div>

	 <% include ../../../partials/footer %>		
</body>
</html>  