<!DOCTYPE html>

<html lang="pl" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <% include ../../../partials/head %>
    <title> Moje dane </title>

</head>

<body>
    <% include ../../../partials/header-manager %>

    <main>
	 
<div class= "container">


  <tbody>
  <form method="POST" action="/update::<%= account[0].id_User %>">
  <div class="card">
  <div class="card-body">
  <h3 id="title" align="center" style="margin-bottom:30px;"> Dane użytkownika</h3>
  <hr>
  <div class="form-group row">
    <label for="Email" class="col-sm-2 col-form-label">Email:</label>
    <div class="col-sm-10 align-self-center">
      <input type="text" class="form-control" id="email" name="email" value="<%= account[0].email %>"  placeholder="Podaj email">
    </div>
  </div>
  <div class="form-group row">
    <label for="Haslo" class="col-sm-2 col-form-label">Hasło:</label>
    <div class="col-sm-10 align-self-center">
      <button type="button" id="but" data-toggle="modal" style="width: 150px;" data-target="#newpassword">
												Nowe hasło
												</button>
												<div class="modal fade" id="newpassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
												 <div class="modal-dialog modal-dialog-centered" role="document">
												  <div class="modal-content">
												   <div class="modal-header">
													   <h5 class="modal-title" id="exampleModalLongTitle">Nowe hasło</h5>
													  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
														 <span aria-hidden="true">&times;</span>
													 </button>
													 </div>
												  <div class="modal-body">
													  Czy chcesz wygenerować nowe hasło i wysłać na e-mail klienta? 
												  </div>
												   <div class="modal-footer">
												   <a href="/newpass:<%= account[0].id_User %>" class="btn btn-info">Tak</a>
														 </div>
													</div>
												 </div>
												</div>
    </div>
  </div>
  <div class="form-group row">
    <label for="imie" class="col-sm-2 col-form-label">Imię:</label>
    <div class="col-sm-10 align-self-center">
      <input type="text" class="form-control" id="imie" name="imie" value="<%= account[0].imie %>" placeholder="Podaj imię ">
    </div>
  </div>
  <div class="form-group row">
    <label for="nazwisko" class="col-sm-2 col-form-label">Nazwisko:</label>
    <div class="col-sm-10 align-self-center">
      <input type="text" class="form-control" id="nazwisko" name="nazwisko" value="<%= account[0].nazwisko %>" placeholder="Podaj nazwisko">
    </div>
  </div>
   <div class="form-group row">
    <label for="stanowisko" class="col-sm-2 col-form-label">Stanowisko:</label>
    <div class="col-sm-10 align-self-center ">
      <input type="text" class="form-control" id="stanowisko" name="stanowisko" value="<%= account[0].stanowisko %>" placeholder="Podaj stanowisko">
    </div>
  </div>
  <div class="form-group row">
    <label for="numer" class="col-sm-2 col-form-label">Numer telefonu:</label>
    <div class="col-sm-10 align-self-center">
      <input type="text" class="form-control" id="numer" name="numer" value="<%= account[0].numer %>" placeholder="Podaj numer telefonu">
    </div>
  </div>
  <div class="form-group row">
    <label for="company" class="col-sm-2 col-form-label">Nazwa firmy:</label>
    <div class="col-sm-10 align-self-center">
		<select class="selectpicker" data-live-search="true" id="company" name="company" data-width="100%">
			<option value="<%= account[0].id_company %>" selected> <%= account[0].name %>-<%= account[0].name2 %></option>
		<% for(var i = 0; i < company.length; i++) { %>
			<option data-tokens="<%= company[i].name %>" value="<%= company[i].id_comapny %>" > <%= company[i].name %> - <%= company[i].name2 %></option>
		<% } %>
		</select>
		</div>
		</div>
  </div>
  <div class= "row">
		<div class="col-12 text-center">
  <button type="submit" id="but">
                        Zapisz dane
                    </button>
					
    </div>
    </div>
	<br>
    </div>

</form>
</div>
</tbody>
</main>
<% include ../../../partials/footer %>
</body>
</html>